.graphview {
	display: flex;
	flex: 1 1 auto;

	justify-content: center;
	align-items: center;
	position: relative;
}

.graphview p {
	color: #666;
}

.graph-settings-button {
	position: absolute;
	top: 0px;
	right: 5px;
	
	font-size: 1.5em;
	color: #888;

}
