.panel {
	display: flex;
	flex: 1 1 auto;
}

.tabcontent > .panel {
	margin: 0;
	padding: 0;
}

.panel-leaf {
	/*border: 1px solid #333;*/
	/*justify-content: center;
	align-items: center;*/
}

.panel-branch-horizontal {
	flex-flow: row;
}

.panel-branch-horizontal > .panel:first-child {
	border-right: 1px solid #ccc;
}

.panel-branch-vertical {
	flex-flow: column;
}

.panel-branch-vertical > .panel:first-child {
	border-bottom: 1px solid #ccc;
}

.panel-removable {
	cursor: pointer;
	overflow: hidden;
}

.remove-cover {
	position: absolute;
	display: none;
	background: #e00;
	opacity: 0.25;
	cursor: pointer;
	display: block;
}
