div.toolbar {
	flex: 0 1 auto;
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
}

div.toolbar button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 16px;
	transition: 0.2s;
}

div.toolbar button:hover {
	background-color: #ddd;
}

div.toolbar button.active {
	background-color: #ccc;
}

div.toolbar button#addpanel,button#removepanel {
	float: right;
}

div.toolbar button#removepanel.active {
	background-color: #f55;
}

.tabcontent {
	display: none;
	flex: 1 1 auto;
	padding: 0;
	border-top: none;
}
