div.tabs {
	flex: 0 1 auto;
	border-bottom: 1px solid #ccc;
	background-color: #f1f1f1;
}

div.tabs button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 16px;
	transition: 0.2s;
}

div.tabs button:hover {
	background-color: #ddd;
}

div.tabs button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	flex: 1 1 auto;
	padding: 6px 12px;
	border-top: none;
}