.shade {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0;
	display: none;
}

.settings {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 20%;
	margin-left: -200px;
	min-height: 25%;
	padding: 20px;
	background: white;
	border: solid 1px #666;
	display: none;
}

.settings input[type=text] {
	border: none;
	border-bottom: 2px solid #333;
	outline: 0;
	padding: 3px;
	margin-right: 1em;
}

.settings h3 {
	margin-top: 0;
	text-align: center;
}

.settings .settings-group {
	margin: 1.5em 0;
}

.settings #title {
	font-size: 1.25em;
	width: 100%;
}

.settings .add-settings {
	float: right;
	color: #555;
}
